*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;    
}
body{
    padding: 5em 15em;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    /* width: 100%; */
    display: flex;
    padding: 0.5em;
    max-width: 40%;
    flex-direction: column;
    background: #FBFBF8;
    box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.5);
}
.form__row{
    /* display: block; */
    justify-content: flex-start;
    align-items: stretch;
    
}
.form__row>td{
    padding: 0.75em;
    /* border: 1px solid grey; */
    border-collapse: collapse;
}
.form__text__grey{
    color: #928B8B;
    font-size: 0.9em;
}
.form__text__bold{
    font-weight: 700;
}
.form__row__border-bottom{
    border-bottom: 0.3px solid #DFD9D9;
}
.form__icon{
    text-align: right;
}