
.cal {
    width: 100%;
    max-width: 24em;
    margin: 0em auto;
    background-color: #fff;
    box-shadow: 0 0.15em 1em 0 rgba(0, 0, 0, 0.05);
    border: solid 2px #e7e9ed;
    border-radius: 3px;
  }
  
  .btn-prev, .btn-next{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  
  .btn-prev{
    background: url(../img/arrow-left.png) no-repeat;
  }
  
  .btn-next{
    background: url(../img/arrow-right.png) no-repeat;
  }
  
  .cal__header, .cal__body, .cal__week{
    display: flex;
    margin: 0.25em;
  }
  
  .cal__header {
    padding: 1em 1em;
    align-items: center;
    background-color: #e9e9e9;
    border-radius: 3px;
  }
  
  .label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .cal__week {
    flex-wrap: wrap;
  }
  
  .cal__week span {
    font-size: 1.2em;
    max-width: 14.28%;
    padding: 0.75em 0.75em;
    flex: 0 0 14.28%;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
  }

  .cal__body {
    flex-wrap: wrap;
    background-color: #fafafa;
  }
  
  .cal__date {
    display: flex;
    flex: 0 0 14.28%;
    flex-direction: column;
    max-width: 14.28%;
    background-color: #f6f6f6;
    padding: 0.1em;
  }
  .cal__date:hover {
    background-color: #F7E2E2;
    cursor: pointer;
  }
  .cal__date_today {
    background-color: #fffa90;
  }
  
  .date__num{
    align-items: center;
    padding: 0.5em 0;
    border: 1px solid #e1e1e1;
  }

  .choice{
    background-color: #BDCEEE;
  }