*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    border: 0em;
}
img{
    max-width: 100%;
    height: auto;
}
.hw7-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.hw7-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    /* min-height: 345px; */
    min-width: 200px;
    max-width: 1480px;
}
.hw7-col{
    display: flex;
    /* max-width: 740px; */
    min-height: 720px;
    /* padding: 60px 40px; */
}
.hw7-col-md-1{
    flex: 1 1 0em;
}
.hw7-col-md-2{
    flex: 2 1 0em;
}
.hw7-col-md-3{
    flex: 3 1 0em;
}
.hw7-col-md-4{
    flex: 4 1 0em;
}
.hw7-col-md-5{   
    flex: 5 1 0em;
}
.hw7-col-md-6{
    flex: 6 1 0em;
}
.hw7-col-md-7{
    flex: 7 1 0em;
}
.hw7-col-md-8{
    flex: 8 1 0em;
}
.hw7-col-md-9{
    flex: 9 1 0em;
}
.hw7-col-md-10{
    flex: 10 1 0em;
}
.hw7-col-md-11{
    flex: 11 1 0em;
}
.hw7-col-md-12{
    flex: 12 1 0em;
}
.hw7-col-md_bg_img-1{
	width: 100%;
	height: 100%;
    background: url(../img/1.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.hw7-col-md_bg_img-2{
	width: 100%;
	height: 100%;
    background: url(../img/2.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.hw7-col-md_bg_img-3{
	width: 100%;
	height: 100%;
    background: url(../img/3.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.hw7-col-md_bg_img-4{
	width: 100%;
	height: 100%;
    background: url(../img/4.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.hw7-col-md_bg_img-5{
	width: 100%;
	height: auto;
    background: url(../img/5.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.hw7-col-md_bg_img-6{
	width: 100%;
	height: auto;
    background: url(../img/6.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.hw7-col-md_bg_pink{
    background-color: #f0e2d7;
}
.hw7-col-md_bg_orange{
    background-color: #e4ae58;
}
.hw7-col-md_bg_red{
    background-color: #e9714c;
}
.hw7-col-md_bg_black{
    background-color: #161616;
}




